<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>friend</title>
	<style type="text/css">
<!--
	ul{
		list-style: none;
		margin: 10px;
	}
		
	ul li{
		float: left;
		height: 20px;
		margin: 0px 0px 0px 10px;
		padding: 10px 15px 5px 15px;
		border: 1px #ddd solid;
		border-radius: 25px 25px 0px 0px / 25px 25px 0px 0px;
		background-color: #eff;	
	}

	ul li.selected{
		text-decoration: none;
		color: #000;
		background-color: #fff;
		border-bottom: 1px #fff solid;
		pointer-events: none;
	}
	
	#friendface{
		float: left;
		width: 130px;
	}
	
	#friendname{
		float: right;
		width: 550px;
	}
	
	#friendlist{
		float: right;
		width: 550px;
	}
	
	#tabmenu{
		clear: both;
		width: 680px;
	}
	
	#line{
		position: relative;
		top: 36px;
		z-index: -1;

		border: none;
		border-top: 1px #ddd solid;
	}

	#tabcontent{			
		clear: left;
		margin: 0px 10px 10px 10px;
		padding: 10px;
	}
-->
	</style>
</head>
<body>
	<div layout:fragment="content">	
		<script>
			var viewModel = new AppViewModel()
			var myviewModel = new myViewModel()
			var friendviewModel = new friendViewModel()
			
			$(document).ready(function(){
				$("#toCreate").attr("href",
				$("#toCreate").attr("href")+"?"+
				$("#friendEmail").val())
		
				$("#text_2").hide(); //初期では非表示
			
				$("ul").on("click","li",function(){
					$("li.selected").removeClass("selected");
					$(this).addClass("selected");
					myID = this.id.split("_")[1];
					$("#tabcontent > div").hide();
					$("#text_" + myID).show();
				})
					
				//第2引数で適用する範囲をそれぞれ指定
				ko.applyBindings(myviewModel,document.getElementById("friendface"));
				ko.applyBindings(myviewModel,document.getElementById("friendname"));
				ko.applyBindings(friendviewModel,document.getElementById("friendlist"));
				ko.applyBindings(viewModel,document.getElementById("tabcontent"));
				
				var url = "/rest/user/"+$("#friendEmail").val()+"/";
				get(url,'',function(data){
					myviewModel.myfriend(data);
				});
				
				url = "/rest/user/"+$("#friendEmail").val()+"/friend";
				get(url,'',function(data){
					var friends = new Array();
					$.map(data,function(value,index){
						if(value.email != $("#friendEmail").val()){
							var friend1 = data.slice(index,index+1);
							var friend2 = friends.concat(friend1);
							friends = friend2;
						}
						friendviewModel.friendfriends(friends)
					})
					
					$(".icon").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
							$(this).css('background-color','#fad0d0')
						},
						click : function(){
							var url = $("#friendForm").attr("action");
							var $showButton = $(this) 
							url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
							if($(".friendId",$showButton.parent()).val() == $("#currentUserEmail").val()){
								location.href="/my"
							}else{
								location.href=url
							}
						}
					})
				});
				
				
				url = $("#arigatoForm").attr("action");
				data = $("#writtenByMeForm").serialize();
				get(url,data,function(data){
					var messages = new Array();
					$.map(data,function(value,index){
						if(value.toUser.email == $("#friendEmail").val()){
							var message1 = data.slice(index,index+1);
							var message2 = messages.concat(message1);
							messages = message2;
						}
						viewModel.writtenByMe(messages);
					})
					
					$(".delete").on({
						mouseover : function(){
							$(this).css('cursor','pointer');
						},
						click : function(){
							var url = $("#deleteForm").attr("action");
							var $deleteButton = $(this)
							url = url + "/" +$(".id",$deleteButton.parent()).val() +"/";
							data = $("#deleteForm").serialize();
							delete_(url,data,function(){
								$deleteButton.parents("table").remove();
							})
						}
					})
								
					$(".edit").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#updateForm").attr("action");
							var $editButton = $(this) 
							url = url + "/" +$(".id",$editButton.parent()).val() +"/";
							location.href=url
						}
					})
					
					$(".icon").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#friendForm").attr("action");
							var $showButton = $(this) 
							url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
							if($(".friendId",$showButton.parent()).val() == $("#currentUserEmail").val()){
								location.href="/my"
							}else{
								location.href=url
							}
						}
					})
				});
				
				url = $("#arigatoForm").attr("action");
				data = $("#readByMeForm").serialize();
				get(url,data,function(data){
					var messages = new Array();
					$.map(data,function(value,index){
						if(value.fromUser.email == $("#friendEmail").val()){
							var message1 = data.slice(index,index+1);
							var message2 = messages.concat(message1);
							messages = message2;
						}
						viewModel.readByMe(messages);
					})
					
					$(".icon").on({
						mouseover : function(){
							$(this).css('cursor','pointer')
						},
						click : function(){
							var url = $("#friendForm").attr("action");
							var $showButton = $(this) 
							url = url + "/" + $(".friendId",$showButton.parent()).val() +"/";
							if($(".friendId",$showButton.parent()).val() == $("#currentUserEmail").val()){
								location.href="/my"
							}else{
								location.href=url
							}
						}
					})
				});
				
			})
			
			function get(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"get",
					data: data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			
			function delete_(url,data,doneHandler){
				$.ajax({
					url: url,
					type:"DELETE",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('#deleteForm input[name="_csrf"]').attr('value'))},
					data: data
				})
				.done(function(data, status, xhr){
					if (doneHandler == undefined){
						return;
					}
					doneHandler(data)
				})
				.fail(function( data, status, xhr){
					alert("fail" + data.responseText);
				})
			}
			
			handleDone = function(res){
				alert("ご登録ありがとうございました!");
				location.href="/"
			}

			function AppViewModel() {
			    var self = this;
			    
			    // Editable data
			    self.arigatos = ko.observableArray([]);
			    self.writtenByMe = ko.observableArray([]);
   			    self.readByMe = ko.observableArray([]); 
			}
			function myViewModel() {
				var self = this;
				self.myfriend = ko.observableArray([]);
			}
			function friendViewModel() {
				var self = this;
				self.friendfriends = ko.observableArray([]);
			}
		</script>


<!-- 選択された友人のemailを受け取り -->
	<input type="hidden" id="friendEmail" th:value="${friendEmail}" />

<!-- 選択された友人のアイコンを表示 -->
		<div id="friendface" data-bind="foreach: myfriend">
			<table>
				<td>
					<img data-bind="attr:{src: image.url}" style="max-height:5em" class="pull-left"></img><br />
					<p data-bind="text: name" />
				</td>
			</table>
		</div>

<!-- 選択された友人の名前を表示 -->
		<div id="friendname" data-bind="foreach: myfriend">
			<span data-bind="text: name" />さんの友達
		</div>
		
<!-- 選択された友人の友人一覧を表示 -->		
		<div id="friendlist">
			<table>
				<tr data-bind="foreach: friendfriends">
					<td>
						<img data-bind="attr:{src: image.url}" style="max-height:3em" class="icon">
							<input type="hidden" class="friendId" data-bind="attr:{value: email}"/>
						</img><br />
						<span data-bind="text: name" />
					</td>
				</tr>
			</table>
		</div>

<!-- タブメニュー -->	
		<div id="tabmenu">
			<ul>
				<li id="tab_1" class="selected"><a href="#readByMe">あなたへのメッセージ</a></li>
				<li id="tab_2"><a href="#writtenByMe">あなたからのメッセージ</a></li>
			</ul>
		</div>

		<div id="line"></div>	<!-- 調整用 -->

		<div id="tabcontent">
			<div id="text_1">
				<div data-bind="foreach: readByMe">
					<table>
						<tr>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:fromUser.email}" />
										</img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:toUser.email}" />						
										</img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 

			<div id="text_2">
				<div data-bind="foreach: writtenByMe">
					<table>
						<tr>
							<td>
								<img th:src="@{/resources/img/trash.png}" style="max-height:3em" alt="削除" class="delete"></img>
								<img th:src="@{/resources/img/edit.png}" style="max-height:3em" alt="編集" class="edit"></img>
									<input type="hidden" class="id" data-bind="attr:{value:id}" />
							</td>
							<td>
								<table>
									<tr>
										<td><img data-bind="attr:{src: fromUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:fromUser.email}" />						
										</img><br /><span data-bind="text: fromUser.name"></span></td>
										<td><img th:src="@{/resources/img/to.png}" style="max-height:3em" ></img></td>
										<td><img data-bind="attr:{src: toUser.image.url}" style="max-height:2em" class="icon">
											<input type="hidden" class="friendId" data-bind="attr:{value:toUser.email}" />
										</img><br /><span data-bind="text: toUser.name"></span></td>
									</tr>
								</table>
								<p>【<span class="subject" data-bind="text: subject"></span>】</p>
								<p>&nbsp;&nbsp;<span data-bind="text: contents"></span></p>
								<div data-bind="foreach: images">
									<img data-bind="attr:{src: url}" style="max-height:320px" ></img>
								</div>
								<p> (<span class="formattedCreated" data-bind="text: formattedCreated"></span>) </p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<hr />
							</td>
						</tr>
					</table>
				</div> 
			</div> 
			
		</div>

		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="writtenByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="wrote" />
		</form>
		<form id="arigatoForm" th:action="@{/rest/arigato}" />
		<form id="readByMeForm" th:action="@{/rest/arigato}">
			<input type="hidden" name="type" value="mine" />
		</form>
		<form id="updateForm" th:action="@{/update}" />
		<form id="deleteForm" th:action="@{/rest/arigato}" />
		<form id="friendForm" th:action="@{/friend}" />
	</div>
</body>
</html>